@font-face {
    font-family: IBM Plex Mono;
    src: url(/fonts/IBMPlexMono-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: IBM Plex Mono;
    src: url(/fonts/IBMPlexMono-SemiBold.ttfg);
    font-weight: 500;
}