
.main {
    padding: 20px;
    display: flex;
    gap: 10px;
    background-color: #BCBCBC;
}

.banner {
    max-width: 300px;
    width: 100%;
    max-height: 100%;
    
    
}

.form_oprosa {
    max-width: 300px;
    max-height: 600px;
    background-color: #adadad;
}

.main_content {
    max-width: 1198px;
    display: flex;
    flex-direction: column;
}

.main_info {
    max-width: 1198px;
    
    background-color: #D9D9D9;
    display: flex;

}

.main_text {
    max-width: 1075px;
    
    text-align: center;

}

.main_btn {
    padding: 10px;

    display: flex;
    justify-content: space-between;

}

.to_sellect {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 250px;
    height: 66px;
    border-radius: 27px;
    background-color: #8B8B8B;
}

.to_sellect p {
    font-size: 40px;
}

.Day_tech {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 312px;
    height: 66px;
    border-radius: 27px;
    background-color: #8B8B8B;
}

.Day_tech p {

    font-size: 40px;
}

.main_video{
    width: 1050.68px;
    height: 519px;
    
}

.form_select{
    appearance: revert;
}

.form_oprosa_1.hidden {
    display: none;
}

.send_btn1{
    background-color: #8B8B8B;
    padding: 3px;
}
.form_oprosa_2.open{
    display: block;
    appearance: revert;
    
}

.form_oprosa_2{
    
    display: none;
    
}
.send_btn2{
    padding: 3px;
    background-color: #8B8B8B;
}

.form_oprosa_3.open{
    display: block;
    appearance: revert;
    
}

.form_oprosa_3{
    
    display: none;
    
}
.send_btn3{
    padding: 3px;
    background-color: #8B8B8B;
}