.tech_description {
    display: flex;
    flex-direction: column;
    max-width: 1863px;

    background-color: #BCBCBC;
}

.first_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 48px auto;
    max-width: 1666.17px;
    gap: 10px;

}

.fp_left_side {
    display: flex;
    flex-direction: column;
    max-width: 639.17px;


}

.fp_left_top_side {
    display: flex;
    flex-direction: column;

    max-width: 608px;

    gap: 34px 0;
}

.fp_left_top_side img {
    border: 2px solid #363636;
    border-radius: 32px;
}

.fp_content {
    display: flex;
    flex-direction: column;
    padding: 17px 39px;
    max-width: 605px;

    background-color: #D9D9D9;
}

.p_content {
    text-align: center;
    font-size: 32px;

}

.fp_left_bottom_side {
    max-width: 639.17px;
    gap: 300px;
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    justify-content: space-between;
}

.Northrop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 636.33px;
    gap: 10px;
}

.Northrop img {
    border-radius: 32px;
    border: 2px solid #363636;
}

.Northrop_name {
    max-width: 558px;
    max-height: 35px;
    background-color: #D9D9D9;
    text-align: center;

}

.A7-D {
    max-width: 608px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.A7-D img {
    border-radius: 32px;
    border: 2px solid #363636;
}

.A7-D_name {
    max-width: 108px;
    max-height: 35px;
    background-color: #D9D9D9;
    text-align: center;

}

.Gau {
    max-width: 617.83px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Gau img {
    border-radius: 32px;
    border: 2px solid #363636;
}

.Gau_name {
    max-width: 259px;
    max-height: 219px;
    padding: 15px;
    background-color: #D9D9D9;

}

.tech_name {
    display: flex;
    max-width: 1000px;

    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
}

.tech_name p {
    text-align: center;
    font-size: 32px;

}

.short_characteristics {
    max-width: 998px;

    background-color: #D9D9D9;
    margin-top: 31px;
    padding: 30px;
}

.short_characteristics p {
    text-align: left;
    font-size: 24px;
}

.short_characteristics p span {
    font-weight: 600;
}

.short_description {
    margin-top: 66px;
    max-width: 998px;

    padding: 25px;
    background-color: #D9D9D9;
}

.short_description p {
    text-align: left;
    font-size: 24px;

}

.short_description p span {
    font-weight: 600;
}

.story_of_made {
    display: flex;
    background-color: #D9D9D9;
    max-width: 998px;

    margin-top: 30px;
    padding: 13.5px;
}

.story_of_made p {
    text-align: left;
    font-size: 24px;


}

.story_of_made p span {
    display: flex;
    font-size: 32px;
    justify-content: center;
    font-weight: 600;


}

.second_part {
    display: flex;
    max-width: 1646px;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px auto;
}

.sp_left_side {
    max-width: 998px;

    font-size: 24px;
    background-color: #D9D9D9;
    padding: 13.5px;

}

.sp_right_side {
    max-width: 620px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.sp_left_side p span {
    display: flex;
    font-size: 32px;
    justify-content: center;
    font-weight: 600;
}

.sp_left_side span1 {
    font-weight: 600;

}

.f15 {
    max-width: 619px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}

.f15 img {
    border-radius: 32px;
    border: 2px solid #363636;
}

.f15_name {
    max-width: 140px;
    max-height: 48px;
    background-color: #D9D9D9;
    text-align: center;

}

.f117 {
    max-width: 619px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}

.f117 img {
    border-radius: 32px;
    border: 2px solid #363636;
}

.f117_name {
    max-width: 140px;
    max-height: 48px;
    background-color: #D9D9D9;
    text-align: center;

}

.amg-65 {
    max-width: 619px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}

.amg-65 img {
    border-radius: 32px;
    border: 2px solid #363636;
}

.amg-65_name {
    max-width: 480px;
    
    background-color: #D9D9D9;
    text-align: center;

}

.end_part {
    margin: 24px auto;
    max-width: 1653px;

    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tech_vaiant {
    max-width: 1645px;

    padding: 13px;
    background-color: #D9D9D9;
}

.tech_vaiant span {
    display: flex;
    font-size: 32px;
    justify-content: center;
    font-weight: 600;
}

.tech_vaiant span1 {
    font-weight: 600;

}

.sourses {
    max-width: 1645px;

    padding: 15px;
    background-color: #D9D9D9;

}

.sourses span {
    display: flex;
    font-size: 32px;
    justify-content: center;
    font-weight: 600;
}

.sourses:hover a {
    text-decoration: underline;

}

span2 {
    font-weight: 600;
}

@media(max-width:1400px) {

    .fp_left_bottom_side {
        gap: 780px;
    }
}

@media(max-width:1200px) {

    .fp_left_bottom_side {
        gap: 480px;
    }

    .story_of_made p span {
        display: flex;
        font-size: 27px;
        justify-content: center;
        font-weight: 600;
    }

    .short_description p {
        text-align: left;
        font-size: 19px;
    }

    .short_characteristics p {
        text-align: left;
        font-size: 19px;
    }

    .tech_name p {
        text-align: center;
        font-size: 28px;
    }

    .story_of_made p {
        font-size: 19px;
    }

    .sp_left_side {
        max-width: 998px;
        font-size: 19px;
        background-color: #D9D9D9;
        padding: 13.5px;
    }

    .sp_left_side p span {
        display: flex;
        font-size: 29px;
        justify-content: center;
        font-weight: 600;
    }

    .tech_vaiant span{
        font-size: 29px;
    }

    .tech_vaiant p{
        font-size: 19px;
    }

    .sourses span{
        font-size: 29px;
    }

    .sourses a {
        font-size: 19px;

    }
    .Gau_name p{
        font-size: 19px;
    }

    .f15_name p{
        font-size: 19px;
    }
    .Northrop_name p{
        font-size: 19px;
    }

.A7-D p{
        font-size: 19px;
    }

    .f117_name p{
        font-size: 19px;
    }
    
    .amg-65_name p{
        font-size: 19px;
    }
}

@media(max-width:1000px){
    .fp_content a{
        font-size: 19px;
        
    }
    .Gau{
        flex-direction: column;
    }
}