.tech_description{
    display: flex;
    width: 1763px;
    height: 5706px;
    background-color: #BCBCBC;
}
.first_part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 48px auto;
    width: 1666.17px;
    height: 2907px;
}
.fp_left_side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 639.17px;
    height: 2754px;
}
.fp_left_top_side{
    display: flex;
    flex-direction: column;

    width: 608px;
    height: 1022px;
    gap:34px 0;
}
.fp_left_top_side img{
    border:2px solid #363636;
    border-radius:32px ;
}
.fp_content{
    display: flex;
    flex-direction: column; 
    padding: 17px 39px;
    width: 605px;
    height: 207px;
    background-color: #D9D9D9;
}
.p_content{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

.fp_left_bottom_side{
    width: 639.17px;
    height: 1551px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Northrop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 636.33px;
    height: 311px;
}

.Northrop img{
    border-radius: 32px;
    border: 2px solid #363636;
}
.Northrop_name{
    width: 558px;
    height: 35px;
    background-color: #D9D9D9;
    text-align: center;
}

.A7-D{
    width: 608px;
    height: 459px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.A7-D img{
    border-radius: 32px;
    border: 2px solid #363636;
}

.A7-D_name{
    width: 108px;
    height: 35px;
    background-color: #D9D9D9;
    text-align: center;
}

.Gau{
    width: 617.83px;
    height: 403px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;   
}
.Gau img{
    border-radius: 32px;
    border: 2px solid #363636;
}
.Gau_name{
    width: 259px;
    height: 219px;
    padding: 25px;
    background-color: #D9D9D9;
}




